# Privacy Node Configuration
PRIVACY_NODE_RPC_URL=https://privacy-node-2.rayls.com
DEPLOYMENT_PROXY_REGISTRY=0x75Da1758161588FD2ccbFd23AB87f373b0f73c8F
PRIVACY_NODE_CHAIN_ID=800002

# Public Chain Configuration
PUBLIC_CHAIN_RPC_URL=https://testnet-rpc.rayls.com/
PUBLIC_CHAIN_ID=7295799

# Backend API Configuration
BACKEND_URL=https://rayls-backend-privacy-node-2.rayls.com
USER_AUTH_KEY=ce87c003337354d7e906d4dbd30d133affce711449801f16b58ff1c6b2ddf327
OPERATOR_AUTH_KEY=ce87c003337354d7e906d4dbd30d133affce711449801f16b58ff1c6b2ddf327

# Deployer Private Key (generate with: cast wallet new)
DEPLOYER_PRIVATE_KEY=
